<div class="container">
    <div class="side">

  <div class="flex px-5 py-8 gap-4 items-center">
   <img src=".././assets/logo-no-background.png" />
  </div>

<ul class="p-5 py-8">
    <li class="py-2"><span class="sidelink"><i class="fa-solid fa-chart-line"></i></span><a routerLink="/dashboard">DashBoard</a></li>
    <li class="py-2"><span class="sidelink"><i class="fa-solid fa-wallet"></i></span><a routerLink="/transactions">View Transactions</a></li>
    <li class="py-2"><span class="sidelink"><i class="fa-solid fa-money-bill-trend-up "></i></span><a routerLink="/income">Income</a></li>
    <li class="py-2"><span class="sidelink"><i class="fa-solid fa-money-bill-wave"></i></span><a routerLink="/expense">Expense</a></li>
    <li class="py-2"><span class="sidelink"><i class="fa-solid fa-user"></i></span><a>Profile</a></li>
    <li class="py-2"><span class="sidelink"><i class="fa-solid fa-lock"></i></span><a routerLink="/signin">Sign In</a></li>
</ul>

<div class="fixed bottom-12 px-5">
    <span class="sidelink"><i class="fa-solid fa-right-from-bracket"></i></span><a routerLink="/signin">Sign Out</a>
</div>
</div>


<div class="content" [ngClass]="{'custom-scroll': shouldEnableScrollbar}">
<router-outlet></router-outlet>
</div>
</div>