.container {
    display: flex;
    width: 100%;
    margin: auto;
  }
  .content {
    flex-grow: 1;
    background-color: aliceblue;
    padding-bottom: 50px;
    overflow-y: auto;
    padding-right: 15px;
    padding-left: 240px;
    width: 100%;
  }
  
  .side{
    width: 220px;
    background-color: #fff;
    padding: 5px;
    top: 0;
  bottom: 0;
  left: 0;
  overflow-y:auto;
  position: fixed;
  }

  .sidelink{
    padding-right: 12px;
  }
  .sidelink a{
    font-size: 20px;
  }
  .sidelink i {
    font-size: 20px;
  }

  