.container {
    max-width: 100%;
  }
  .content {
   width: auto;
   padding: 20px;
   padding-left: ;
  }
  
  .side{
    width: 220px;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 0;
  bottom: 0;
  left: 0;
  overflow-y:auto;
  position: fixed;
  border: none;
  }

  .sidelink{
    padding-right: 12px;
  }
  .sidelink a{
    font-size: 20px;
  }
  .sidelink i {
    font-size: 20px;
  }

  ul li {
    opacity: 0.7;
    transition: opacity 0.3s ease;
    font: bold;
    padding-left: 20px;
}

 ul li.active {
    opacity: 1;
    border-right: 3px solid rgb(18, 18, 55);
}



  