.container {
    display: flex;
    height: 130vh;
    width: 100%;
    
  }
  
  .content {
    flex: 6;
    background-color: aliceblue;
    width:100%;

  }
  
  .side{
    flex: 1;
    background-color: #fff;
    padding: 5px;
    height: 100%;
  }
 

  .sidelink{
    padding-right: 12px;
  }
  .sidelink a{
    font-size: 20px;
  }
  .sidelink i {
    font-size: 20px;
  }
 .custom-scroll {
  overflow:auto;
}
 
  