                               <!--Top Bar that contains a heading(Dashboard) and a menu field-->
<div class="flex justify-between items-center p-6 w-full max-sm:flex-col">
  <h1 class="text-[40px] font-bold pb-3">Dashboard</h1>
  <div
    class="bg-white flex gap-4 rounded-s-full rounded-e-full px-2 items-center justify-center shadow-custom"
  >
    <div class="group">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input placeholder="Search...." type="search" class="input" />
    </div>
    <i class="fa-solid fa-bars text-[15px] opacity-55 hover:opacity-100 transition-opacity hidden max-lg:inline-block"></i>
    <i class="fa-regular fa-bell text-[15px] opacity-55 hover:opacity-100 transition-opacity"></i>
    <i class="fa-solid fa-circle-exclamation text-[15px] opacity-55 hover:opacity-100 transition-opacity"></i>
    <i class="fa-solid fa-moon text-[15px] opacity-55 hover:opacity-100 transition-opacity"></i>
    <img
      class="rounded-full w-[40px] object-cover h-4/6"
      src="https://img.freepik.com/premium-photo/actor-digital-avatar-generative-ai_934475-9309.jpg"
    />
  </div>
</div>

                                 <!--Total and highest amounts displaying containers-->
<div class="px-6 max-sm:px-1">
  <div class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-5 3xl:grid-cols-6">
    <div class="shadow-custom !z-5 gap-2 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:shadow-none !flex-row flex-grow items-center rounded-[20px]">
        <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
            <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700 bg-[#F4F7FE]">
                <span class="flex items-center text-brand-500  text-[#009bd6] text-[22px]">
                  <i class="fa-solid fa-wallet"></i>
                </span>
            </div>
        </div>
        <div class="h-50 ml-4 flex w-auto flex-col justify-center">
            <p class="font-dm text-sm font-medium text-gray-500">Total Savings</p>
            <h4  class="text-[22px] font-bold text-navy-700 text-[#0f172a]"><span>$</span><span #counter1>{{ totalBalance | number }}</span></h4>
        </div>
    </div>
   
    <div class="shadow-custom !z-5 gap-2 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:shadow-none !flex-row flex-grow items-center rounded-[20px]">
      <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
          <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700 bg-[#F4F7FE]">
              <span class="flex items-center text-brand-500  text-[#009bd6] text-[22px]">
                <i class="fa-solid fa-chart-simple"></i
                  >
              </span>
          </div>
      </div>
      <div class="h-50 ml-4 flex w-auto flex-col justify-center">
          <p class="font-dm text-sm font-medium text-gray-500">Total Earnings</p>
          <h4  class="text-[22px] font-bold text-navy-700 text-[#0f172a]"><span>$</span><span #counter2>{{totalIncome | number}}</span></h4>
      </div>
  </div>

  <div class="shadow-custom !z-5 gap-2 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:shadow-none !flex-row flex-grow items-center rounded-[20px]">
    <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
        <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700 bg-[#F4F7FE]">
            <span class="flex items-center text-brand-500  text-[#009bd6] text-[22px]">
              <i class="fa-solid fa-chart-simple"></i
                >
            </span>
        </div>
    </div>
    <div class="h-50 ml-4 flex w-auto flex-col justify-center">
        <p class="font-dm text-sm font-medium text-gray-500">Total Outlay</p>
        <h4 class="text-[22px] font-bold text-navy-700 text-[#0f172a]"><span>$</span><span  #counter3>{{totalExpense | number}}</span></h4>
    </div>
</div>

<div class="shadow-custom !z-5 gap-2 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:shadow-none !flex-row flex-grow items-center rounded-[20px]">
  <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
      <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700 bg-[#F4F7FE]">
          <span class="flex items-center text-brand-500  text-[#009bd6] text-[22px]">
            <i class="fa-solid fa-dollar-sign"></i>
          </span>
      </div>
  </div>
  <div class="h-50 ml-4 flex w-auto flex-col justify-center">
      <p class="font-dm text-sm font-medium text-gray-500">Highest Earning</p>
     <h4  class="text-[22px] font-bold text-navy-700 text-[#0f172a]"><span>$</span><span #counter4>${{highestIncome | number}}</span></h4>
  </div>
</div>

<div class="shadow-custom gap-2 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:shadow-none !flex-row flex-grow items-center rounded-[20px]">
  <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
      <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700 bg-[#F4F7FE]">
          <span class="flex items-center text-brand-500  text-[#009bd6] text-[22px]">
            <i class="fa-solid fa-dollar-sign"></i>
          </span>
      </div>
  </div>
  <div class="h-50 ml-4 flex w-auto flex-col justify-center">
      <p class="font-dm text-sm font-medium text-gray-500">Highest Outlay</p>
     <h4  class="text-[22px] font-bold text-navy-700 text-[#0f172a]"><span>$</span><span #counter5>{{highestExpense | number}}</span></h4>
  </div>
  </div>  
</div>

                                 <!--Line chart and bar chart displaying container-->
  <div class="grid grid-cols-2 max-sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 2xl:grid-cols-2 3xl:grid-cols-2 gap-5 mt-5" >
    <!--Line Chart-->
    <div class="bg-white p-1 rounded-xl shadow-custom" >
      <div class="flex p-4 justify-between">
        <h1 class="text-[18px] font-bold pb-3">Gainings VS Spendings</h1>
        <span class="text-[#009bd6] font-light text-[18px] bg-slate-100 rounded-full py-1 px-2.5"
          ><i class="fa-solid fa-chart-line"></i></span>
      </div>
      <app-linechart></app-linechart>
    </div>
    <!--Bar Chart-->
    <div class="bg-white rounded-xl shadow-custom">
      <div class="flex p-4 justify-between">
        <h1 class="text-[18px] font-bold pb-3">Monthly Earnings</h1>
        <span class="text-[#009bd6] font-light text-[18px] bg-slate-100 rounded-full py-1 px-2.5"
          ><i class="fa-solid fa-chart-simple"></i
        ></span>
      </div>
      <app-barchart></app-barchart>
    </div>
  </div>


  <div class="mt-2 flex gap-5 w-full">
    <div class="bg-white rounded-xl mt-3 w-[50%] p-4 shadow-custom">
    
      <div class="flex  justify-between">
        <h1 class="text-[18px] font-bold pb-3">Recent History</h1>
        <span class="text-[#009bd6] font-light text-[18px] bg-slate-100 rounded-full py-1.5 px-2.5"
          > <i class="fa-solid fa-clock-rotate-left"></i></span>
      </div>
      <div>
        <table>
          <tr class="border-b border-gray-300">
            <th style="padding: 14px 60px 14px 30px;">Name</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Date</th>
          </tr>
          <tbody *ngIf="recentTransactions.length > 0">
            <tr *ngFor="let transaction of recentTransactions">
              <td>{{ transaction.type === 'Income' ? transaction.incomeTitle : transaction.expenseTitle }}</td>
              <td [ngStyle]="{'color': transaction.type === 'Income' ? 'green' : 'red'}">{{ transaction.type }}</td>
              <td [ngStyle]="{'color': transaction.type === 'Income' ? 'green' : 'red'}">${{ transaction.type === 'Income' ? transaction.incomeAmount : transaction.expenseAmount }}</td>
              <td>{{ transaction.type === 'Income' ? transaction.incomeDate : transaction.expenseDate }}</td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>

    <div class="w-[50%] flex gap-5 ">
      <div class="bg-white rounded-xl mt-3 w-[50%] shadow-custom">
        <div class="flex p-4 justify-between">
          <h1 class="text-[18px] font-bold pb-3">Monthly Spendings</h1>
          <span class="text-[#009bd6] font-light text-[18px] bg-slate-100 rounded-full py-1 px-2.5"
            ><i class="fa-solid fa-chart-simple"></i
          ></span>
        </div>
        <app-expensebarchart></app-expensebarchart>
      </div>
      <div class="bg-white rounded-xl mt-3 w-[50%] shadow-custom">
        <div class="flex p-4 justify-between">
          <h1 class="text-[18px] font-bold pb-3">Outlay This Month</h1>
          <span class="text-[#009bd6] font-light text-[18px] bg-slate-100 rounded-full py-1 px-2"
            ><i class="fa-solid fa-chart-pie"></i>
          </span>
        </div>
        <app-donutchart></app-donutchart>
        <div class="flex py-2 justify-evenly">
          <div class="flex flex-col">
            <span class="text-[#818589]">Shopping</span>
            <span class="text-center font-bold text-[18px]">43%</span>
          </div>
          <div class="flex flex-col">
            <span class="text-[#818589]">Grocery</span>
            <span class="text-center font-bold text-[18px]">38%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
