
<div class="flex justify-between px-8 py-6">
  <h1 class="text-[40px] font-bold pb-3">Dashboard</h1>
  <div
    class="bg-white flex gap-6 rounded-s-full rounded-e-full px-4 items-center justify-center"
  >
    <div class="group mt-4">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input placeholder="Search" type="search" class="input" />
    </div>
    <i class="fa-regular fa-bell text-[20px] opacity-75" ></i>
    <i class="fa-solid fa-moon text-[20px] opacity-75"></i>
    <img
      class="rounded-full w-[36px] object-cover h-3/6"
      src="https://framerusercontent.com/images/gMHfU4xaMiq7jHpCpTNtqnK6ulQ.jpg"
    />
  </div>
</div>

<div class="px-4">
  <div class="flex gap-3 w-full items-center px-0 justify-start flex-row">
    <div
      class="py-3 px-5 items-center justify-center text-center bg-white rounded-3xl flex gap-5 w-full" 
    >
      <span
        class="text-[#009bd6] bg-slate-100 px-4 py-2 rounded-full font-light text-[22px]"
        ><i class="fa-solid fa-wallet"></i></span>
      <h1 class="text-[25px] font-semibold">
        <p class="opacity-75 text-[17px] font-normal">Total Savings</p>
    <span class="font-bold">$</span><span #counter1 class="font-bold">{{ totalBalance | number }}</span>
      </h1>
    </div>

    <div
      class="py-3 px-5 items-center justify-center text-center bg-white rounded-3xl flex gap-5 w-full"
    >
      <span
        class="text-[#009bd6] bg-slate-100 px-4 py-2 rounded-full font-light text-[22px]"
        ><i class="fa-solid fa-sack-dollar"></i
      ></span>
      <h1 class="text-[25px] font-semibold">
        <p class="opacity-75 text-[17px] font-normal">Total Earnings</p>
        <span class="font-bold">$</span><span #counter2 class="font-bold">{{totalIncome | number}}</span>
      </h1>
    </div>
    <div
      class="py-3 px-5 items-center justify-center text-center bg-white rounded-3xl flex gap-5 w-full"
    >
      <span
        class="text-[#009bd6] bg-slate-100 px-4 py-2 rounded-full font-light text-[22px]"
        ><i class="fa-solid fa-sack-dollar"></i
      ></span>
      <h1 class="text-[25px] font-semibold">
        <p class="opacity-75 text-[17px] font-normal">Total Outlay</p>
        <span class="font-bold">$</span><span #counter3 class="font-bold">{{totalExpense | number}}</span>
      </h1>
    </div>
    <div
      class="py-3 px-5 items-center justify-center text-center bg-white rounded-3xl flex gap-5 w-full"
    >
      <span
        class="text-[#009bd6] bg-slate-100 px-4 py-2 rounded-full font-light text-[22px]"
        ><i class="fa-solid fa-dollar-sign"></i
      ></span>
      <h1 class="text-[25px] font-semibold">
        <p class="opacity-75 text-[17px] font-normal">Highest Earning</p>
        <span class="font-bold">$</span><span #counter4 class="font-bold">{{highestIncome | number}}</span>
      </h1>
    </div>
    <div
      class="py-3 px-5 items-center justify-center text-center bg-white rounded-3xl flex gap-5 w-full"
    >
      <span
        class="text-[#009bd6] bg-slate-100 px-4 py-2 rounded-full font-light text-[22px]"
        ><i class="fa-solid fa-dollar-sign"></i
      ></span>
      <h1 class="text-[25px] font-semibold">
        <p class="opacity-75 text-[17px] font-normal">Highest Outlay</p>
        <span class="font-bold">$</span><span #counter5 class="font-bold">{{highestExpense | number}}</span>
      </h1>
    </div>
  </div>

  <div class="flex gap-5" >

    <div class="bg-white p-1 rounded-xl mt-6 w-5/6" >
      <div class="flex p-4 justify-between">
        <h1 class="text-[18px] font-bold pb-3">Gainings VS Spendings</h1>
        <span class="text-[#009bd6] font-light text-[18px] bg-slate-100 rounded-full py-1 px-2.5"
          ><i class="fa-solid fa-chart-line"></i></span>
      </div>
      <app-linechart></app-linechart>
    </div>

    <div class="bg-white rounded-xl mt-6 w-3/6">
      <div class="flex p-4 justify-between">
        <h1 class="text-[18px] font-bold pb-3">Monthly Revenue</h1>
        <span class="text-[#009bd6] font-light text-[18px] bg-slate-100 rounded-full py-1 px-2.5"
          ><i class="fa-solid fa-chart-simple"></i
        ></span>
      </div>
      <app-barchart></app-barchart>
    </div>
  </div>

  <div class="mt-2 flex gap-5 w-full">
    <div class="bg-white rounded-xl mt-3 w-[50%] p-4">
    
      <div class="flex  justify-between">
        <h1 class="text-[18px] font-bold pb-3">Recent History</h1>
        <span class="text-[#009bd6] font-light text-[18px] bg-slate-100 rounded-full py-1.5 px-2.5"
          > <i class="fa-solid fa-clock-rotate-left"></i></span>
      </div>
      <div>
        <table>
          <tr class="border-b border-gray-300">
            <th style="padding: 14px 60px 14px 30px;">Name</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Date</th>
          </tr>
          <tbody *ngIf="recentTransactions.length > 0">
            <tr *ngFor="let transaction of recentTransactions">
              <td>{{ transaction.type === 'Income' ? transaction.incomeTitle : transaction.expenseTitle }}</td>
              <td [ngStyle]="{'color': transaction.type === 'Income' ? 'green' : 'red'}">{{ transaction.type }}</td>
              <td [ngStyle]="{'color': transaction.type === 'Income' ? 'green' : 'red'}">${{ transaction.type === 'Income' ? transaction.incomeAmount : transaction.expenseAmount }}</td>
              <td>{{ transaction.type === 'Income' ? transaction.incomeDate : transaction.expenseDate }}</td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>

    <div class="w-[50%] flex gap-5">
      <div class="bg-white rounded-xl mt-3 w-[50%]">
        <div class="flex p-4 justify-between">
          <h1 class="text-[18px] font-bold pb-3">Monthly Spendings</h1>
          <span class="text-[#009bd6] font-light text-[18px] bg-slate-100 rounded-full py-1 px-2.5"
            ><i class="fa-solid fa-chart-simple"></i
          ></span>
        </div>
        <app-expensebarchart></app-expensebarchart>
      </div>
      <div class="bg-white rounded-xl mt-3 w-[50%]">
        <div class="flex p-4 justify-between">
          <h1 class="text-[18px] font-bold pb-3">Outlay This Month</h1>
          <span class="text-[#009bd6] font-light text-[18px] bg-slate-100 rounded-full py-1 px-2"
            ><i class="fa-solid fa-chart-pie"></i>
          </span>
        </div>
        <app-donutchart></app-donutchart>
        <div class="flex py-2 justify-evenly">
          <div class="flex flex-col">
            <span class="text-[#818589]">Shopping</span>
            <span class="text-center font-bold text-[18px]">43%</span>
          </div>
          <div class="flex flex-col">
            <span class="text-[#818589]">Grocery</span>
            <span class="text-center font-bold text-[18px]">38%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
