<div class="px-8 py-4 h-[85vh]">
    
<div class="p-4 items-center justify-center text-center bg-white rounded-3xl dark:bg-[#111C44]" style="border: 1px solid rgb(203, 203, 203);">
    <h1 class="text-[30px] font-semibold">Total Expense: <span  class="text-[#d14040] font-bold">{{totalExpense | currency}}</span></h1>
</div>
<div class="flex gap-10">
<form class="flex flex-col w-1/3 pt-3" [formGroup]="expenseForm">
    <input type="text" placeholder="Expense Title" formControlName="expenseTitle" class="dark:bg-[#111C44] dark:border-none"/>
    <input type="text" placeholder="Expense Amount" formControlName="expenseAmount" class="dark:bg-[#111C44] dark:border-none"/>
    <input type="date" placeholder="Enter Date" formControlName="expenseDate" class="dark:bg-[#111C44] dark:border-none"/>
    <select formControlName="expenseCategory" [(ngModel)]="selectedCategory" class="dark:bg-[#111C44] dark:border-none">
        <option value="" disabled>Select Expense Type</option>
        <option value="grocery">Grocery</option>
        <option value="shopping">Shopping</option>
        <option value="rent">Rent</option>
        <option value="bills">Bills</option>
        <option value="health">Health Care</option>
        <option value="education">Education</option>
        <option value="investment">Investments</option>
        <option value="personal">Personal</option>
        <option value="other">Others</option>
    </select>
    <textarea placeholder="Add a Reference" formControlName="expenseDescription" class="dark:bg-[#111C44] dark:border-none"></textarea>

    <button (click)="addExpense()" class="bg-[#d14040] my-4"><img src="../../assets/icons8-add-24.png" class="w-[22px] mr-1" />Add Expense</button>
</form>

<div class="flex flex-col w-2/3 pt-3">
    <div class="flex flex-col" *ngFor="let expense of recentExpenses; let i = index">
    <div class="p-4 bg-white mb-2 rounded-3xl flex gap-4 dark:bg-[#111C44]" >
        <span class="rounded-full bg-[#f0f8ff] px-3 py-3 items-center justify-center dark:bg-[#111C44]">
            <img [src]="getCategoryImage(expense.expenseCategory)" alt="Expense Icon" class="w-[35px] h-auto object-cover" />
          </span>
        <div>
        <h1 class="text-[20px] font-semibold pb-1">{{expense.expenseTitle}}</h1>
        <div class="flex gap-4">
        <p class="text-[17px] font-normal"><i class="fa-solid fa-dollar-sign mr-1"></i>{{expense.expenseAmount}}</p>
        <p class="text-[17px] font-normal"><i class="fa-regular fa-calendar-days mr-1"></i>{{expense.expenseDate}}</p>
        <p class="text-[17px] font-normal"><i class="fa-solid fa-comment mr-1"></i>{{expense.expenseDescription}}</p>
        </div>
        </div>
        <div class="right-16 absolute mt-2">
            <span class="rounded-full bg-[#f0f8ff] dark:bg-[#0B1437] text-[22px] px-2.5 py-2.5 flex justify-end items-center cursor-pointer" (click)="confirmDelete(expense, i)"><img src="https://cdn-icons-png.freepik.com/256/6861/6861362.png?uid=R120008979&ga=GA1.1.161877072.1706307699&" class="w-[25px]" /></span>
          </div>
    </div>
   


    <div *ngIf="showConfirmationIndex === i" class="confirmation bg-red-600">
        Are you sure you want to delete {{ expenseToDelete?.incomeTitle }}?
        <button (click)="deleteExpense()">Yes</button>
        <button (click)="cancelDelete()">No</button>
      </div> </div>
</div>
</div>
</div>

